
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
        integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
        crossorigin="anonymous">
<nav class="nav" role="navigation">
<span class="logo"><img onclick="location.href='/';"  class="logo-image" src="/logo.png" alt="logo"></span>
<input class="menu-btn" type="checkbox" id="menu-btn"/>
<label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
<ul class="menu">
  <% if (path !== "/") { %>
 <li><a id="purple" class="nav_menu" href="https://<%= hostname %>/" rel="noopener">Home</a></li>
 <% } else { %>
 <li ><a id="purple" class="nav_menu" href="https://<%= hostname %>/contact"rel="noopener">Contact</a></li>
 <% } %>
 <li><a  id="purple" class="nav_menu" href="https://<%= hostname %>/products" rel="noopener">Products</a></li>
 <%  if (path !== "/about") { %>
 <li><a id="purple" class="nav_menu" href="https://<%= hostname %>/about" rel="noopener">About</a></li>
<% } else { %>
 <li><a  id="purple" class="nav_menu" href="https://<%= hostname %>/contact" rel="noopener">Contact</a></li>
<% } %>
<% if(user) { %>
<% if (user.profile.image) {
avatar = `/${user.profile.image}`
} else {
 avatar = "/images/unknown_user.png";
}
%>
<a class="avatar-container dropdownHead" id="dropdownHead" onclick="dropdown(this)"><img class="user-avatar" src="<%= avatar %>"/><span class="user-name"><%= user.username %></span></a>
</ul> 
<ul class="dropdown" id="dropdown">
<div class="cross-container"><div class="cross"></div></div>
<% if (path === "/profile") { %>
 <span><a class="dropdown-li" href="https://<%= hostname %>/">
 <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M12 5.69l5 4.5V18h-2v-6H9v6H7v-7.81l5-4.5M12 3L2 12h3v8h6v-6h2v6h6v-8h3L12 3z"/></svg> Home</a></span>
<% } else if (path !== "/") { %>
 <span><a class="dropdown-li" href="https://<%= hostname %>/"><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M12 5.69l5 4.5V18h-2v-6H9v6H7v-7.81l5-4.5M12 3L2 12h3v8h6v-6h2v6h6v-8h3L12 3z"/></svg> Home</a></span>
<% } else { %>
 <span><a class="dropdown-li" href="https://<%= hostname %>/profile"><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M3 13h8V3H3v10zm0 8h8v-6H3v6zm10 0h8V11h-8v10zm0-18v6h8V3h-8z"/></svg> My Profile</a></span>
<% } %>
<span><a class="dropdown-li logout" href="https://<%= hostname %>/logout" class="logout"><svg width="20" height="20" viewBox="0 0 98.28 68.04"><path fill="none" d="M82.78 0h15.5v68.04h-15.5z"/><path d="M0 0h.51v68.04H0zM56 47.11V60.1H8.39V7.94H56v12.99h7.88V0H.51v68.04h63.37V47.11H56z"/><path fill="none" d="M0 0h22.97v68.04H0z"/><path d="M41.87 38.04h40.85l-9.93 9.9 5.63 5.67 19.35-19.49-19.35-19.48-5.63 5.57L82.51 30H41.87v8.04z"/></svg> Logout</a></span>
  <% } else { %>
  <li><a class='nav-menu-button' href='/login'><span>Login</span></a></li>
  <% } %>
</ul>
</nav>


