<%- include("../partials/head", { user, path, title: "Ecoplug - Add Product",  url}) %>
<head>
	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" />
  <link href="https://ecoplug.xyz/css/jquery.multiselect.css" rel="stylesheet" />
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://ecoplug.xyz/js/jquery.multiselect.js"></script>
	<link href="/css/addproduct.css"  type="text/css"  rel="stylesheet">
	<link href="/css/tailwind.css"  type="text/css" rel="stylesheet">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
   <link href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="container-product">
            <div class="wrap-product">
                  <div id="step1">
                   <% if(alert) { %><div class="alert-validate"><%= alert %></div><% } %>
                  <span class="product-form-title">Add your product</span>
                  <h1>Hey <%= user.username %>, let me help promote your product. </h1>

                  <div class="information">
                  <p style="color: red" id="understand"></p>
                  <div class="custom-control custom-checkbox mb-1">
                 <input type="checkbox" class="custom-control-input" id="customCheck">
                 <label class="custom-control-label" for="customCheck"> By adding my product I accept the <a href="/policy">Product Policy</a>.</label>
                 </div>
                  <div class="button-div">
                  <button type="button" id="lets_go">Let's Go</button>
                  </div>
                  </div>
                  </div>

                    <form type="form" method="POST" action="/add">
                    <div data-aos="fade-left">
                    <div id="step2">
                    <div data-aos="fade-left">
                    <div class="wrap-input">
                    <span class="label">1-	What’s your product’s name? (Will be displayed on Website)</span>
                    <textarea class="input" name="name" placeholder="Your Answer" required></textarea>
                    <span class="input-line"></span>
                    </div>
                    </div>
           

                    <div data-aos="fade-left">
                    <div class="wrap-input">
                    <span class="label">2-	What does your product do? (Will be displayed on Website)</span>
                    <textarea minlength="50" maxlength="2000" class="input" name="what_does_it_do" placeholder="Your Answer" required></textarea>
                    <span class="input-line"></span>
                    </div>
                    </div>

                     <div data-aos="fade-left">
                    <div class="wrap-input">
                    <span class="label">3-	Provide Us with a short summary of Your product. (Will be displayed on Website)</span>
                    <textarea minlength="15" maxlength="130" class="input" name="summary" placeholder="Your Answer" required></textarea>
                    <span class="input-line"></span>
                    </div>
                    </div>

                     
                    <div data-aos="fade-left">
                    <div class="wrap-input">
                    <span class="label">4- How much of your products are available to sell?<span>
                    <textarea class="input" name="quantity" placeholder="Your Answer" required></textarea>
                    <span class="input-line"></span>
                    </div>
                    </div>

                    <div data-aos="fade-left">
                    <div class="wrap-input">
                    <span class="label">5-	Who are your target customers?<span>
                    <div style="padding-top: 9px"></div>
                    <input type="radio" name="target_customers" id="1" value="13-" required/>
                    <label for="1">Children up to age 12 (13-)</label><br>
                    <input type="radio" name="target_customers" id="2"  value="13-18" required/>
                    <label for="2">Teenagers (13-18)</label><br>
                    <input type="radio" name="target_customers" id="3"  value="18+" required/>
                    <label for="3">Adults (18+)</label><br>
                    <input type="radio" name="target_customers" id="4"  value="all" required/>
                    <label for="4">All Ages</label><br>
                    <span class="input-line"></span>
                    </div>
                    </div>

                    <div data-aos="fade-left">
                    <div class="wrap-input">
                    <span class="label">6-	Please provide us a publicly available link showing your Product. (This may be a website/social media link or other public information peaop;e will click to check your website out)<span>
                    <textarea class="input" name="link" placeholder="Your Answer" required></textarea>
                    <span class="input-line"></span>
                    </div>
                    </div>

                    <div data-aos="fade-left">
                    <div class="wrap-input">
                    <span class="label">7-	Would you like us to display your account email adress or another? (to contact customers - Will be also displayed on Site)<span>
                    <div style="padding-top: 9px"></div>
                    <input type="radio" name="display_adress" value="same" id="5" required/>
                    <label for="5">Same</label><br>
                    <input type="radio" name="display_adress" value="another" id="6" required/>
                    <label for="6">Another</label><br>
                    <input style="opacity: 0;" placeholder="Enter other email here" maxlength="32" type="text"  class="input" name="other" id="otherAnswer" />
                    <span class="input-line"></span>
                    </div>
                    </div>

                    <div data-aos="fade-left">
                    <div class="wrap-input">
                    <span class="label">8-	How are your products helping the environment? What are they made of?<span>
                    <textarea class="input" name="how_are_they_helping" placeholder="Your Answer" required></textarea>
                    <span class="input-line"></span>
                    </div>
                    </div>

                    <div data-aos="fade-left">
                    <div class="wrap-input">
                    <span class="label">9-	Please provide us with some picture links of your product.<span>
                    <textarea class="input" name="picture_links" placeholder="Your Answer" required></textarea>
                    <span class="input-line"></span>
                    </div>
                    </div>


                    <div data-aos="fade-left">
                    <div class="wrap-input">
                    <span class="label">10- Product Categories<span>
                    <select name="categories[]" multiple="multiple" class="3col active">
                    <% const list = ["Accessories", "Animal Waste", "Bamboo", "Bin", "Bin Liners", "Biodegradable", "Bioplastic", "Bottles", "Bowls", "Clothing", "Computer", "Computer Accessories", "Cup", "Decking", "Fabric", "Fish", "Floor Mats", "Foil", "Footwear", "Laptop", "Neoprene", "Plates", "Reclaimed Wood", "Recycled", "Reusable", "Rugs", "Steel", "Toilet Tissue", "Toothbrush", "Towel"] %>
                    <% list.forEach((l)=>{ %>
                    <option value="<%= l.split(" ").join("_").toLowerCase() %>"><%= l %></option>
                    <% }) %>
                    </select>
                    <span class="input-line"></span>
                    </div>
                    </div>


                  <button type="submit">Submit</button>









                    </div></div></form>



            </div>
        </div>
</body>
<script>$('select[multiple]').multiselect({
    columns  : 3,
    search   : true,
    selectAll: false,
    texts    : {
        placeholder: 'Select Categories (Min 1 - Max 5)',
        search     : 'Search Categories'
    },
    onOptionClick: function( element, option ) {
        var maxSelect = 5;

        if( $(element).val().length > maxSelect ) {
            if( $(option).is(':checked') ) {
                var thisVals = $(element).val();

                thisVals.splice(
                    thisVals.indexOf( $(option).val() ), 1
                );

                $(element).val( thisVals );

                $(option).prop( 'checked', false ).closest('li')
                    .toggleClass('selected');
            }
        }

        else if( $(element).val().length == maxSelect ) {
            $(element).next('.ms-options-wrap')
                .find('li:not(.selected)').addClass('disabled')
                .find('input[type="checkbox"]')
                    .attr( 'disabled', 'disabled' );
        }

        else {
            $(element).next('.ms-options-wrap')
                .find('li.disabled').removeClass('disabled')
                .find('input[type="checkbox"]')
                    .removeAttr( 'disabled' );
        }
        }
});</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.min.js'></script>
<script src="/js/product_add.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>
<%- include("../partials/homefooter.ejs") %>
<%- include("../partials/footer.ejs") %>
