<%- include("../partials/head", { user, path, description, title: "Home", twitter, url, image }) %>
<head>
	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
	<link href="https://templates.xenon.bot/static/tailwind.css" rel="stylesheet">
	<link href="/css/main.css" rel="stylesheet">
	<link href="/css/tailwind.css" rel="stylesheet">
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
	<title></title>
</head>
<body>

	<div class="bot-box">
   <div class="bot-box box">
    

    <div class="block">

    <div class="left-block">
    <div class="align">

     <div class="left">
      
      <img src="/<%= bot.imageUrl %>" class="img"/>
      <h1><%= bot.title %></h1>
      <p style="text-align: text-justify"><%= bot.summary || 'No Summary Provided' %></p>
   
    </div>

    <div class="right">
      <div class="px-3 flex flex-wrap mt-5" style="color: white">
      <% bot.tags.forEach((tag) => { %><a style="background-color: #2f2f2f" class="bg-gray-light px-2 py-1 rounded-md mr-2 mb-2" href="/bots?tag=<%= tag %>"><%= tag %></a><% }) %>
	    </div>
    </div>
    
 
    </div>
    

    <div style="padding-bottom: 20px;"></div>

    <div class="align-description">
    <div class="side"></div>
    <div class="description">
    <p><%- bot.description.replace(/\&#60;:[^:]+:(\d+)\&#62;/g, '<img class="emoji" src="https://cdn.discordapp.com/emojis/$1.png"/>')
                .replace(/\&#60;a:[^:]+:(\d+)\&#62;/g, '<img class="emoji" src="https://cdn.discordapp.com/emojis/$1.gif"/>')
                .replace(/~~(.+?)~~/g, '<s>$1</s>')
                .replace(/\*\*\*(.+?)\*\*\*/g, '<em><strong>$1</strong></em>')
                .replace(/\*\*(.+?)\*\*/g, '<strong>$1</strong>')
                .replace(/__(.+?)__/g, '<u>$1</u>')
                .replace(/\*(.+?)\*/g, '<em>$1</em>')
                .replace(/_(.+?)_/g, '<em>$1</em>')
                .replace(/\n/g, '<br>'); %>
                </p>
    </div>
    </div>
  

    </div>

    <div class="right-block">
    <div class="align-right">
   
   <div class="bot-span">
   <span>Added by: </span>
   </div>

   <div class="owner" style="display: block">
						<img alt="Avatar" id="home-image" src="https://cdn.discordapp.com/avatars/710465231779790849/a_5bcdd6b8c41b74d696eb67c854870591.gif?size=512"> <span class="align-middle ml-2"><%= bot.addedBy %></span>
					</div>

          <div style="padding-top: 25px"></div>
          
             <div class="bot-span">
   <span>Information: </span>
   </div>
   
   <div class="information">
   <p>• Added <%= moment(bot.date).fromNow() %></p>
   <p>• <%= bot.views || 0 %> <%= bot.views ? bot.views === 1 ? 'View' : 'Views' : 0 %></p>
   </div>

   <div style="padding-top: 25px"></div>
   
   <div class="order">
   <button  onclick="window.location.href='/order?bot=<%=bot._id%>'">Order Bot</button>
   </div>

    </div>
    </div>



   </div>


   </div>
  </div>

</body>
<%- include("../partials/footer.ejs") %>